.form_sign_up{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

::-webkit-scrollbar {
    width: 0px;
}

.personal_data{
    width: 636px;
    display: flex;
    flex-direction: column; 
    background: #FFFFFF;
    padding: 10px;
}

.personal_data div{
    padding: 10px;
}

#span_name_block {
    font-size: 30px;
    color: #5BA963;
}

select, input{
    padding: 1%;
    background: #FFFFFF;
    border: 1px solid rgba(82, 98, 242, 0.5);
    box-sizing: border-box;
    box-shadow: inset 3px 3px 6px #5FF252;
    height: 30px;
    width: 398px;
    float: right;
}

span{
    font-family: Tinos;
    font-size: 18px;
    color: #0F25ED;
}

.education{
    width: 636px;
    display: flex;
    flex-direction: column; 
    background: #FFFFFF;
    padding: 10px;
    margin-top: 30px;
}

.education div{
    padding: 10px;
}

.learning_peroid{
    display: flex;
}
#learning_peroid_from{
    margin-left: 100px;
}
.learning_peroid input{
    width: 215px;
}
.dash{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 36px;
    margin-top: -7px;
}

.work_place{
    width: 636px;
    display: flex;
    flex-direction: column; 
    background: #FFFFFF;
    padding: 10px;
    margin-top: 30px;
}

.work_place div{
    padding: 10px;
}

.working_peroid{
    display: flex;
}
#working_peroid_from{
    margin-left: 120px;
}
.working_peroid input{
    width: 187px;
}

.about_me{
    width: 636px;
    display: flex;
    flex-direction: column; 
    background: #FFFFFF;
    padding: 10px;
    margin-top: 30px;
}

button:focus {
    outline: none;
}

.about_me div{
    padding: 10px;
}

.add_personal_qualities{
    display: flex;
}

.add_professional_skills{
    display: flex;
}

.personal_area{
    width: 636px;
    display: flex;
    flex-direction: column; 
    background: #FFFFFF;
    padding: 10px;
    margin-top: 30px;
}

.personal_area div{
    padding: 10px;
}

#button_save{
    width: 656px;
    height: 47px;
    background: #5EC939;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Tinos;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-bottom: 30px ;
}

.button_add{
    margin-left: 395px;
    width: 232px;
    height: 36px;
    font-family: Tinos;
    font-size: 18px;
    color: #0F25ED;
    background: #FFFFFF;
    border: 1px solid rgba(82, 98, 242, 0.5);
    box-sizing: border-box;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.add_professional_skills div{
    color: #FFFFFF; 
    background: #0F25ED;
    border: 1px solid rgba(82, 98, 242, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
}

.add_personal_qualities div{
    color: #FFFFFF; 
    background: #0F25ED;
    border: 1px solid rgba(82, 98, 242, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
}