<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./www_data/data/view/log_up/js/log_up.js"></script>
    <link rel="stylesheet" href="./www_data/data/view/log_up/css/log_up.css">
    <link rel="stylesheet" href="./www_data/data/stylesheets/background.css">
</head>

<body>
    <div class="container">
        <div class="frame">
            <div class="background_crystal">
                <form class="form_sign_up" onsubmit="return false;">
                    <div class="flex_blocks">
                        <div class="personal_data">
                            <span id="span_name_block">Личные данные</span>
                            <div class="sername">
                                <span id="star">Фамилия</span>
                                <input id="sername" type="text" >
                            </div>
                            <div class="name">
                                <span>Имя</span>
                                <input id="name" type="text">
                            </div>
                            <div class="patronymic">
                                <span>Отчество</span>
                                <input id="patronymic" type="text">
                            </div>
                            <div class="birthday">
                                <span>Дата рождения</span>
                                <input id="birthday" type="date"/>
                            </div>
                            <div class="gender" >
                                <span>Пол</span>
                                <select class="submenu" ></select>
                            </div>
                            <div class="current_city">
                                <span>Город проживания</span>
                                <input id="current_city" type="text">
                            </div>
                        </div>
                        <div class="education">
                            <span id="span_name_block">Образование</span>
                            <div class="education_country">
                                <span>Страна</span>
                                <input id="education_country" type="text">
                            </div>
                            <div class="education_city">
                                <span>Город</span>
                                <input id="education_city" type="text">
                            </div>
                            <div class="university">
                                <span>Вуз</span>
                                <input id="university" type="text">
                            </div>
                            <div class="specialty">
                                <span>Специальность</span>
                                <input id="specialty" type="text">
                            </div>
                            <div class="learning_peroid">
                                <span>Срок обучаемости</span>
                                <input id="learning_peroid_from" type="text">
                                <span class="dash">-</span>
                                <input id="learning_peroid_to" type="text">
                            </div>
                            <button class="button_add" id="button_add_education">Добавить Образование</button>
                        </div>
                        <div class="work_place">
                            <span id="span_name_block">Места работы</span>
                            <div class="work_place_country">
                                <span>Страна</span>
                                <input id="work_place_country" type="text">
                            </div>
                            <div class="work_place_city">
                                <span>Город</span>
                                <input id="work_place_city" type="text">
                            </div>
                            <div class="organization">
                                <span>Организация</span>
                                <input id="organization" type="text">
                            </div>
                            <div class="position">
                                <span>Должность</span>
                                <input id="position" type="text">
                            </div>
                            <div class="working_peroid">
                                <span>Срок работы</span>
                                <input id="working_peroid_from" type="text">
                                <span class="dash">-</span>
                                <input id="working_peroid_to" type="text">
                            </div>
                            <button class="button_add" id="button_add_education">Добавить место работы</button>
                        </div>
                        <div class="about_me">
                            <span id="span_name_block">О себе</span>
                            <div class="about_me_input">
                                <span>О себе</span>
                                <input id="about_me_input" type="text">
                            </div>
                            <div class="personal_qualities">
                                <span>Личные качества</span>
                                <input id="personal_qualities" type="text">
                            </div>
                            <button class="button_add" id="button_add_personal_qualities">Добавить</button>
                            <div class="add_personal_qualities"></div>
                            <div class="professional_skills">
                                <span>Профессиональные</span>
                                <span id="skills">навыки</span>
                                <input id="professional_skills" type="text">
                            </div>
                            <button class="button_add" id="button_add_professional_skills">Добавить</button>
                            <div class="add_professional_skills"></div>
                        </div>
                        <div class="personal_area">
                            <span id="span_name_block">Личный кабинет</span>
                            <div>
                                <span id="image_name">Загрузить фото</span>
                                <input type="file" multiple="multiple" accept="image/jpeg,image/png" id="button_add_photo">
                            </div>
                            <div class="login">
                                <span>Логин*</span>
                                <input id="login" type="text">
                            </div>
                            <div class="e_mail">
                                <span>E-mail*</span>
                                <input id="e_mail" type="text">
                            </div>
                            <div class="phone">
                                <span>Телефон</span>
                                <input id="phone" type="text">
                            </div>
                            <div class="password">
                                <span>Пароль*</span>
                                <input id="password" type="text">
                            </div>
                        </div>
                        <button id="button_log_up">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>