<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Новый проект</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../create_new_project/js/create_new_project.js"></script>
    <script src="../../js/main_menu.js"></script>
    <script src="../../js/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../create_new_project/css/create_new_project.css">
    <link rel="stylesheet" href="../../stylesheets/left_main_menu.css">
    <link rel="stylesheet" href="../../stylesheets/background.css">
</head>

<body>
    <div class="container">
        <div class="frame">
            <div class="background_crystal">
                <form class="form_create_new_projects" onsubmit="return false;">
                    <button class="open_main_menu ">Скрыть меню</button>
                    <div class="main_menu">
                        <div class="main_menu_logo">
                            <span id="char_T" class="style_of_text">T</span>
                            <span id="char_eam" class="style_of_text">eam</span>
                            <span id="char_M" class="style_of_text">M</span>
                            <span id="char_ate" class="style_of_text">ate</span>
                        </div>
                        <div class="main_menu_projects">
                            <span class="style_of_text" id="main_menu_projects">Проекты</span>
                        </div>
                        <a  id="href_all_projects" class="style_of_text">● Все проекты</a>
                        <a  id="href_my_projects" class="style_of_text">● Мои проекты</a>
                        <a  id="href_my_participation" class="style_of_text">● Моё участие</a>
                        <div class="main_menu_people">
                            <span class="style_of_text" id="main_menu_people">Люди</span>
                        </div>
                        <a  id="href_job_seekers" class="style_of_text">● Соискатели</a>
                        <a  id="href_personal_area" class="style_of_text">● Моя страница</a>
                        <button class="style_of_text" id="button_Settings">Настройки профиля</button>
                        <button class="style_of_text" id="button_exit">Выход</button>
                    </div>
                    <div class="flex_blocks">
                        <div class="about_project">
                            <span id="span_name_block">О проекте</span>
                            <div class="name_of_project">
                                <span >Название*</span>
                                <input id="name_of_project" type="text" >
                            </div>
                            <div class="information_of_project">
                                <span>Описание проекта*</span>
                                <input id="information_of_project" type="text">
                            </div>
                            <div class="city">
                                <span>Город*</span>
                                <input id="city" type="text">
                            </div>
                            <div class="company">
                                <span>Организация</span>
                                <input id="company" type="text"/>
                            </div>
                            <div class="date_success" >
                                <span>Дата сдачи проекта</span>
                                <input id="data_success" type="date"/>
                            </div>
                        </div>
                        <div class="requirements_for_candidates">
                            <span id="span_name_block">Требования к кандидатам</span>
                            <div class="personal_qualities">
                                <span >Личные качества</span>
                                <input id="personal_qualities" type="text" >
                            </div>
                            <button class="button_add" id="button_add_personal_qualities">Добавить</button>
                            <div class="add_personal_qualities"></div>

                            <div class="professional_skills">
                                <span>Профессиональные навыки</span>
                                <input id="professional_skills" type="text">
                            </div>
                            <button class="button_add" id="button_add_professional_skills">Добавить</button>
                            <div class="add_professional_skills"></div>
                            <div class="team_size">
                                <span>Численность команды</span>
                                <input id="team_size" type="text">
                            </div>
                        </div>
                        <div class="required_resources">
                                <span id="span_name_block">Требуемые ресурсы</span>
                                <div class="resource_time">
                                    <span >Время</span>
                                    <input id="resource_time" type="text" >
                                </div>
                                <button class="button_add" id="button_add_resource_time">Добавить</button>
                                <div class="add_resource_time"></div>
                                <div class="resources_mobility">
                                    <span>Мобильность</span>
                                    <input id="resources_mobility" type="text">
                                </div>
                                <button class="button_add" id="button_add_resources_mobility">Добавить</button>
                                <div class="add_resources_mobility"></div>
                                <div class="resources_material">
                                    <span>Материальные</span>
                                    <input id="resources_material" type="text">
                                </div>
                                <button class="button_add" id="button_add_resources_material">Добавить</button>
                                <div class="add_resources_material"></div>
                                <div class="resources_cash">
                                    <span>Денежные</span>
                                    <input id="resources_cash" type="text">
                                </div>
                                <button class="button_add" id="button_add_resources_cash">Добавить</button>
                                <div class="add_resources_cash"></div>
                            </div>
                    </div>
                    <button id="button_save">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>