.form_personal_area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal_information{
    width: 850px;
    position: absolute;
    top: 0%;
}

.name_of_person{
    height: 70px;
    border-bottom-style: solid;
    border-bottom-color: #5262F2;
    background: #FFFFFF;
}

#name_of_person{
    margin-left: 2%;
    margin-top: 2%;
    float: left;
}

#name_of_person:first-letter{
    color: #5262F2;
}

#login_of_person{
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    color: #C4C4C4;
}

#login_of_person:first-letter{
    color: #5EC939;
}

.flex_blocks{
    display: flex;
}

.flex_blocks div{
    padding: 10px;
}

.personal_left_block{
    flex:1;
    text-align: center;   
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    overflow: auto;
}

#avatar{
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin-left:23%;
    margin-bottom: 5%;
    border: 1px solid #5EC939;
}

#personal_position{
    margin-bottom: 5%;
}

#personal_birthday{
    margin-bottom: 5%;
    font-size: 22px;
}

#personal_education{
    width: 270px;
    height: 25px;
    background: #5262F2;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
}

#personal_jobs{
    margin-top: 5%;
    width: 270px;
    height: 25px;
    background: #5262F2;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
}

.personal_education span{
    font-size: 20px;
}

.personal_jobs span{
    font-size: 20px;
    margin-bottom: 5%;
}

.personal_right_block{
    flex:2;
    display: flex;
    flex-direction: column;  
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
}

.personal_about_me{
    width: 96%;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 5%;
}

.personal_professional_skills span{
    font-size: 20px;
    background: #5EC939;
    border-radius: 10px;
    padding: 5px;
    margin: 1%;
    margin-bottom: 1%;
    display: inline-flex;
}
.personal_professional_skills{
    margin-bottom: 3%;
}

.personal_personal_qualities span{
    font-size: 20px;
    background: #FCC400;
    border-radius: 10px;
    margin: 1%;
    margin-bottom: 1%;
    padding: 5px;
    display: inline-flex;
}

.personal_personal_qualities{
    margin-bottom: 3%;
}

.personal_current_projects{
    margin-bottom: 3%;
}

.personal_current_projects div{
    width: 96%;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 2%;
}

.button_all{
    border-radius: 10px;
    width: 70px;
    height: 28px;
    float: right;
    margin-right: 2%;
    background: #FFFFFF;
}

.personal_completed_projects{
    margin-bottom: 3%;
}

.personal_completed_projects div{
    width: 96%;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 2%;
}


.personal_reviews_managers{
    margin-bottom: 3%;
}

.personal_reviews_managers div{
    width: 96%;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 2%;
}

.personal_reviews_managers .negative{
    background: red;
}
.personal_reviews_managers .positive{
    background: green;
}

.personal_peer_review{
    margin-bottom: 3%;
}

.personal_peer_review div{
    width: 96%;
    background: #FFFFFF;
    font-size: 20px;
    margin-bottom: 2%;
}
