<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Проект</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../project/js/project.js"></script>
    <script src="../../js/main_menu.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="../../js/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../project/css/project.css">
    <link rel="stylesheet" href="../../stylesheets/left_main_menu.css">
    <link rel="stylesheet" href="../../stylesheets/background.css">
</head>

<body>
    <div class="container">
        <div class="frame">
            <div class="background_crystal">
                <form class="form_project" onsubmit="return false;">
                    <button class="open_main_menu ">Скрыть меню</button>
                    <div class="main_menu">
                        <div class="main_menu_logo">
                            <span id="char_T" class="style_of_text">T</span>
                            <span id="char_eam" class="style_of_text">eam</span>
                            <span id="char_M" class="style_of_text">M</span>
                            <span id="char_ate" class="style_of_text">ate</span>
                        </div>
                        <div class="main_menu_projects">
                            <span class="style_of_text" id="main_menu_projects">Проекты</span>
                        </div>
                        <a  id="href_all_projects" class="style_of_text">● Все проекты</a>
                        <a  id="href_my_projects" class="style_of_text">● Мои проекты</a>
                        <a  id="href_my_participation" class="style_of_text">● Моё участие</a>
                        <div class="main_menu_people">
                            <span class="style_of_text" id="main_menu_people">Люди</span>
                        </div>
                        <a  id="href_job_seekers" class="style_of_text">● Соискатели</a>
                        <a  id="href_personal_area" class="style_of_text">● Моя страница</a>
                        <button class="style_of_text" id="button_Settings">Настройки профиля</button>
                        <button class="style_of_text" id="button_exit">Выход</button>
                    </div>
                    <div class="form_information_project">
                        <div class="header_block">
                            <div class="header_block_1">
                                <span class="style_of_text" id="name_of_project">TeamMate. сервис для соискателей и владельцев проектов в различных сферах жизни</span>
                            </div>
                            <div class="header_block_2">
                                <span id="header_progress">В разработке</span>
                            </div>
                        </div>
                        <div class="information_about_project">
                            <span class="style_of_text" id="about_project">О проекте:</span>
                                <div class="about_project ">Ключевыми элементами сервиса являются: 1) профили кандидатов (описание личных качеств; информацию об интересах, хобби; профессиональные навыки; доступные ресурсы; прошлые и текущие проекты; оценки и отзывы коллег и руководителей) 2) страницы проектов (описание проекта; стек используемых технологий; требования к команде и к ресурсам)</div>
                                <div class="city_organization_date_success">
                                    <span id="city">Город: Екатеринбург</span>
                                    <span id="organization">Организация: Урфу</span>
                                    <span id="data_success">Срок: 30.05.2020</span>
                                </div>
                                <div class="attachment">
                                    <div class="technical_task">
                                        <img src="" id="technical_task">
                                        <a>Техническое задание</a>
                                    </div>
                                    <div class="end_to_end">
                                        <img src="" id="end_to_end">
                                        <a>Сквозной сценарий</a>
                                    </div>
                                </div>
                                <span class="style_of_text" id="requirements_for_candidates">Требования к кандидатам:</span>
                                <div class="professional_skills"></div>
                                <div class="personal_qualities"></div>
                                <span class="style_of_text" id="required_resources">Требуемые ресурсы:</span>
                                <div class="required_resources">
                                    <div class="blocks resource_time">
                                        <span>Время</span>
                                        <div>есть свободное время</div>
                                    </div>
                                    <div class="blocks resources_mobility">
                                        <span>Мобильность</span>
                                        <div>2 месяца</div>
                                    </div>
                                    <div class="blocks resources_material">
                                        <span>Материальные</span>
                                        <div>Удаленное рабочее место</div>
                                        <div>Доступ к сети</div>
                                    </div>
                                    <div class="blocks resources_cash">
                                        <span>Денежные</span>
                                    </div>
                                </div>
                                <div class="people_in_project">
                                    <div class="left_block_people">
                                        <span>Руководители проекта:</span>
                                        <div class="personal_review">
                                            
                                        </div>
                                    </div>
                                    <div class="rigth_block_people">
                                        <span>Команда:</span>
                                        <button class="search_members">Подобрать кандидатов</button>
                                        <div class="personal_people">
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>