.form_create_new_projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
}

.about_project{
    width: 636px;
    display: flex;
    flex-direction: column; 
    background: #FFFFFF;
    padding: 10px;
}

.about_project div{
    padding: 10px;
}

#span_name_block {
    font-size: 30px;
    color: #5BA963;
}

#information_of_project{
    height: 100px;
}

input{
    padding: 1%;
    background: #FFFFFF;
    border: 1px solid rgba(82, 98, 242, 0.5);
    box-sizing: border-box;
    box-shadow: inset 3px 3px 6px #5FF252;
    height: 30px;
    width: 398px;
    float: right;
}

span{
    font-family: Tinos;
    font-size: 18px;
    color: #0F25ED;
}

.requirements_for_candidates{
    width: 636px;
    display: flex;
    flex-direction: column; 
    background: #FFFFFF;
    padding: 10px;
    margin-top: 30px;
}

.requirements_for_candidates div{
    padding: 10px;
}

.required_resources{
    width: 636px;
    display: flex;
    flex-direction: column; 
    background: #FFFFFF;
    padding: 10px;
    margin-top: 30px;
}

.required_resources div{
    padding: 10px;
}

#button_save{
    width: 636px;
    height: 47px;
    background: #5EC939;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Tinos;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-bottom: 30px ;
}