<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../personal_area/js/personal_area.js"></script>
    <script src="../../js/main_menu.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../personal_area/css/personal_area.css">
    <link rel="stylesheet" href="../../stylesheets/left_main_menu.css">
    <link rel="stylesheet" href="../../stylesheets/background.css">
</head>

<body>
    <div class="container">
        <div class="frame">
            <div class="background_crystal">
                <form class="form_personal_area" onsubmit="return false;">
                    <button class="open_main_menu ">Скрыть меню</button>
                    <div class="main_menu">
                        <div class="main_menu_logo">
                            <span id="char_T" class="style_of_text">T</span>
                            <span id="char_eam" class="style_of_text">eam</span>
                            <span id="char_M" class="style_of_text">M</span>
                            <span id="char_ate" class="style_of_text">ate</span>
                        </div>
                        <div class="main_menu_projects">
                            <span class="style_of_text" id="main_menu_projects">Проекты</span>
                        </div>
                        <a id="href_all_projects" class="style_of_text">● Все проекты</a>
                        <a id="href_my_projects" class="style_of_text">● Мои проекты</a>
                        <a id="href_my_participation" class="style_of_text">● Моё участие</a>
                        <div class="main_menu_people">
                            <span class="style_of_text" id="main_menu_people">Люди</span>
                        </div>
                        <a id="href_job_seekers" class="style_of_text">● Соискатели</a>
                        <a id="href_personal_area" class="style_of_text">● Моя страница</a>
                        <button class="style_of_text" id="button_Settings">Настройки профиля</button>
                        <button class="style_of_text" id="button_exit">Выход</button>
                    </div>
                    <div class="personal_information">
                        <div class="name_of_person">
                            <span class="style_of_text" id="name_of_person"></span>
                            <span class="style_of_text" id="login_of_person"></span>
                        </div>
                        <div class="flex_blocks">
                            <div class="personal_left_block">
                                <img src="" alt="Avatar" id="avatar">
                                <span class="style_of_text" id="personal_position"></span>
                                <span class="style_of_text" id="personal_birthday"></span>
                                <span class="style_of_text" id="personal_education">Образование</span>
                                <div class="personal_education"></div>
                                <span class="style_of_text" id="personal_jobs">Места работы</span>
                                <div class="personal_jobs"></div>
                            </div>
                            <div class="personal_right_block">
                                <span class="style_of_text" id="personal_about_me">О себе:</span>
                                <div class="personal_about_me ">Пусто</div>
                                <span class="style_of_text" id="personal_professional_skills">Профессиональные навыки:</span>
                                <div class="personal_professional_skills"></div>
                                <span class="style_of_text" id="personal_personal_qualities">Личные качества:</span>
                                <div class="personal_personal_qualities"></div>
                                <span class="style_of_text" id="personal_current_projects">Текущие проекты: <button class="button_personal_current_projects button_all">Все</button> </span>
                                <div class="personal_current_projects"></div>
                                <span class="style_of_text" id="personal_completed_projects">Завершенные проекты:  <button class="button_personal_completed_projects button_all">Все</button> </span>
                                <div class="personal_completed_projects"></div>
                                <span class="style_of_text" id="personal_reviews_managers">Отзывы руководителей:  <button class="button_personal_reviews_managers button_all">Все</button> </span>
                                <div class="personal_reviews_managers"></div>
                                <span class="style_of_text" id="personal_peer_review">Оценка коллег:  <button class="button_personal_peer_review button_all">Все</button> </span>
                                <div class="personal_peer_review"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>