<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../data/view/personal_area/js/personal_area.js"></script>
    <link rel="stylesheet" href="../personal_area/css/personal_area.css">
</head>

<body>
    <div class="container">
        <div class="frame">
            <div class="background_crystal">
                <form class="form_personal_area" action="">
                    <div class="personal_information">
                        <span >Личные данные</span>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>