<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Все проекты</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../all_projects/js/all_projects.js"></script>
    <script src="../../js/main_menu.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="../../js/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../all_projects/css/all_projects.css">
    <link rel="stylesheet" href="../../stylesheets/form_projects.css">
    <link rel="stylesheet" href="../../stylesheets/left_main_menu.css">
    <link rel="stylesheet" href="../../stylesheets/background.css">
</head>

<body>
    <div class="container">
        <div class="frame">
            <div class="background_crystal">
                <form class="form_all_projects" onsubmit="return false;">
                    <button class="open_main_menu ">Скрыть меню</button>
                    <div class="main_menu">
                        <div class="main_menu_logo">
                            <span id="char_T" class="style_of_text">T</span>
                            <span id="char_eam" class="style_of_text">eam</span>
                            <span id="char_M" class="style_of_text">M</span>
                            <span id="char_ate" class="style_of_text">ate</span>
                        </div>
                        <div class="main_menu_projects">
                            <span class="style_of_text" id="main_menu_projects">Проекты</span>
                        </div>
                        <a  id="href_all_projects" class="style_of_text">● Все проекты</a>
                        <a  id="href_my_projects" class="style_of_text">● Мои проекты</a>
                        <a  id="href_my_participation" class="style_of_text">● Моё участие</a>
                        <div class="main_menu_people">
                            <span class="style_of_text" id="main_menu_people">Люди</span>
                        </div>
                        <a  id="href_job_seekers" class="style_of_text">● Соискатели</a>
                        <a  id="href_personal_area" class="style_of_text">● Моя страница</a>
                        <button class="style_of_text" id="button_Settings">Настройки профиля</button>
                        <button class="style_of_text" id="button_exit">Выход</button>
                    </div>
                    <div class="form_projects">
                        <div class="header_block">
                            <div class="header_block_1">
                                <button class="style_of_text" id="button_all_projects">Все проекты</button>
                                <button class="style_of_text" id="button_in_progress">В разработке</button>
                                <button class="style_of_text" id="button_success">Завершенные</button>
                                <button class="style_of_text" id="button_zip">Архивированные</button>
                            </div>
                            <div class="header_block_2">
                                <input id="search_projects" placeholder="Поиск по название проекта" type="text">
                            </div>
                        </div>
                        <div class="view_projects">
                            <div class="my_projects">
                                <div class="left_block_my_project">
                                    <div class="name_my_projects">TeamMate. сервис для соискателей и владельцев проектов в различных сферах жизни</div>
                                </div>
                                <div class="right_block_my_project">
                                    <div class="deadline_my_projects">Срок сдачи: 30.05.2020 </div>
                                    <div class="strength_my_projects">Численность команды: 4/4</div>
                                </div>
                            </div>
                            <div class="line_my_projects line_in_progress"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>